<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>
    
    <Resource 
      name="jdbc/ECE_DS" type="javax.sql.DataSource" driverClassName="com.mysql.jdbc.Driver" 
      url="jdbc:mysql://localhost:3306/{{ece_db}}?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"
      username="{{ece_user}}" password="{{ece_pass}}" 
      auth="Container" maxActive="10" maxIdle="5" maxWait="5000"></Resource>

    <Environment name="escenic/indexer-webservice" override="false" type="java.lang.String" 
      value="http://localhost:8080/indexer-webservice/index/"></Environment>
    <Environment name="escenic/index-update-uri" override="false" type="java.lang.String" 
      value="http://localhost:8080/solr/update/"></Environment>
    
    <Environment name="escenic/solr-base-uri" override="false" type="java.lang.String" 
      value="http://localhost:8080/solr/"></Environment>
    <Environment name="escenic/presentation-solr-base-uri" override="false" type="java.lang.String" 
      value="http://localhost:8080/solr/"></Environment>
    
    <Environment name="escenic/head-tail-storage-file" override="false" type="java.lang.String" 
      value="/var/lib/escenic/head-tail.index"></Environment>
    <Environment name="escenic/failing-documents-storage-file" override="false" type="java.lang.String" 
      value="/var/lib/escenic/failures.index"></Environment>

</Context>
